body {
    margin: 0;
    text-align: center;
    font-family: 'Sen', sans-serif;
    color: #8e9aaf;
}

.main-container {
    display: flex;
    flex-direction: column
}

h1, h2, h3 {
    margin: 0;
}

.hero {
    background: url(https://images.unsplash.com/photo-1575540203949-54ccd7a66d98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1839&q=80);
    background-size: cover;
    height: 400px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0px 0px 10px black;
    height: 33vh;
}

.activity {
    padding: 35px;
}

.main-act-container {
    padding: 20px;
    background: #dee2ff;  
}

.activities-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.act-title {
    margin: 20px;
}

.act-image {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 5px 10px 20px #888888;
}

img {
    width: 100px;
}

.guide {
    padding: 20px;
    background: #cbc0d3;
    display: flex;
    justify-content: center;
    height: 33vh;
    align-items: center;
}

.guide-card {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    background: #feeafa;
    border-radius: 10px;
    box-shadow: 5px 10px 20px #888888;
}

.guide-img {
    width: 120px;
    border-radius: 10px
}

.guide-presentation {
    padding: 10px;
}

@media only screen and (max-width: 720px) {
  .activities-container {
    flex-direction: column;
  }
}
